.barCursor { /* Defines the color of the bar background when a bar is played */
    background: rgba(255, 242, 0, 0.25);
}

.selectionWrapper div { /* Defines the color of the selection background */
    background: rgba(64, 64, 255, 0.1)
}

.beatCursor { /* Defines the beat cursor */
    background: rgba(64, 64, 255, 0.75)
}

.atHighlight * { /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
}


.alphatab-player-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.alphatab-player-li{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.alphatab-player-li-select{
    float: left;
}

.alphatab-player-li label, .alphatab-player-li input[type="checkbox"]{
  cursor: pointer;
}

#controls {
  position: fixed;
  right: 5px;
  top: 20%;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  z-index: 1000;
}

.alphatab-btn{
  width: auto;
  color: #333;
  background-color: #ffffff;
  border-color: #adadad;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0;
  font: inherit;
}

.alphatab-btn:hover{
  background-color: #e6e6e6;
}
